/********************************
** adamrob.co.uk - 20JAN2015
** Parallax Scroll Wordpress Plugin
**
** CSS Styles
**
** 22MAR2016 - V2.0 - Updated for new version
********************************/

/* ============================================================
  USER CUSTOMIZABLE STYLES
============================================================ */
.adamrob_parallax_posttitle {

}

.adamrob_parallax_postcontent{

}

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.adamrob_pcontainer {
  max-width: 960px;
  margin: 0 auto;

}
/* ============================================================
  SECTIONS
============================================================ */

section.adamrob_parallax {
  /*height: 600px; Set in PHP */
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*background-size: cover;*/
  /*background-size: 500px;*/
}

div.adamrob_parallax {
    /*position: relative;*/
    z-index: 1;
    min-height: 100px;
    background: transparent;
    background-color:rgba(255,255,255,0);
}


/* ============================================================
  FULL WIDTH CLASS
============================================================ */
.adamrob_parallax_fullwidth{
  /*Used when in full screen mode */
  position: absolute;
  left: 0;
  width: 100%;
}