# WPScan (If not using ~/.wpscan/)
cache/
data/
log.txt
output.txt

# WPScan (Deployment)
debug.log
rspec_results.html
wordlist.txt

# OS/IDE Rubbish
coverage/
.yardoc/
.idea/
*.sublime-*
.*.swp
.ash_history
.bundle
.DS_Store
.DS_Store?