*.gem
*.rbc
.bundle
.config
coverage
pkg
rdoc

# YARD artifacts
.yardoc
_yardoc
doc/
.wpscan/

.ash_history
.DS_Store
.DS_Store?
.idea/

# Old files from v2
cache/
data/

# Profiling reports
bin/memprof*.report
