<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
         <a href="https://wpscan.org">
           <img src="https://wpscan.org/images/wpscan_logo.png" alt="WPScan Logo" />
         </a>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
