/*
Version: 2.3.4
 */
.pirate_forms_wrap .form_field_wrap,
.widget .pirate_forms_wrap .form_field_wrap {
	margin-bottom: 20px;
}

.pirate_forms_wrap {
	width: 100%;
}

.sidebar .pirate_forms_wrap,
.sidebar-wrap .pirate_forms_wrap,
#sidebar-secondary .pirate_forms_wrap {
	margin-bottom: 20px;
}

.widget .form_field_wrap,
.sidebar .form_field_wrap,
.sidebar-wrap .form_field_wrap,
#sidebar-secondary .form_field_wrap {
	width: 100%;
	max-width: 100%;
}

.pirate_forms_clearfix,
.pirate-forms-fields-container:after,
.pirate-forms-file-upload-wrapper:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	font-size: 0;
	content: " ";
}

.contact_submit_wrap {
	text-align: right;
}

.pirate-forms-maps-custom {
	min-width: 150px;
}

.pirate-forms-maps-custom input {
	display: inline;
	width: auto;
}

.pirate-forms-maps-custom label {
	display: inline;
	cursor: pointer;
}

.pirate-forms-maps-custom span {
	margin-left: 5px;
}

.pirate-forms-fields-container .form_field_wrap {
	box-sizing: border-box;
	padding-right: 15px;
	padding-left: 15px;
}

.pirate_forms_three_inputs_wrap .form_field_wrap input {
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	margin: 0;
}

.pirate-forms-fields-container .form_field_wrap textarea {
	width: 100%;
	max-width: 100%;
	margin: 0;
}

.pirate_forms_wrap .form_field_wrap .pirate-forms-submit-button {
	display: inline-block;
	width: auto;
}

.pirate_forms_wrap .pirate-forms-footer {
	display: table;
	float: left;
	width: 100%;
}

.pirate_forms_wrap .pirate-forms-footer .form_field_wrap {
	width: auto;
	display: table-cell;
	float: none;
	margin: 0;
	vertical-align: middle;
	padding-bottom: 10px;
}

@media (max-width: 480px) {
	.pirate_forms_wrap .pirate-forms-footer .form_field_wrap,
	.pirate_forms_wrap .form_field_wrap .pirate-forms-submit-button {
		display: block;
		width: 100%;
	}

	.pirate_forms_wrap .pirate-forms-footer .pirateform_wrap_classes_spam_wrap,
	.pirate_forms_wrap .pirate-forms-footer .form_captcha_wrap {
		margin-bottom: 20px;
	}
}
