/**
 * Widget CSS Classes
 *
 * @author C.M. Kendrick <cindy@cleverness.org>
 * @package widget-css-classes
 * @version 1.5.2.1
 */

.wcssc_copy span, .wcssc_remove span, .wcssc_sort span {
	vertical-align: text-bottom;
	margin: 0;
	padding: 0;
}
.wcssc_copy, .wcssc_remove, .wcssc_sort {
	text-decoration: none;
}
.wcssc_sort {
	display: none;
	cursor: move;
}
.wcssc_sort_fixed .wcssc_sort {
	visibility: hidden;
}

.wcssc_sortable .wcssc_drop_placeholder {
	background: #e5e5e5;
	height: 30px;
}