/*Default Plugin Styles*/
/*plugin version 4.0.3.3*/
a[target="amazonwin"] {margin: 0 !important;}
a[rel^="appiplightbox"] { display: inline-block; font-size: .75rem; text-align: center; max-width: 100%; }
.instock { color: #008000; font-size: .85em; }
.outofstock { color: #800000; font-size: .85em; }
.amazon-image-wrapper { padding: 0 1%; text-align: center;float: left; margin: 0 2% 0 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box; max-width: 25%; width: 100%; }
.amazon-image-wrapper a { border-bottom: none; display: block; font-size: 12px; text-align: center; }
.amazon-image-wrapper br {display: none;}
.asin-title {text-align: left;  font-size: inherit;}
.appip-label {color: #666; font-size: inherit;font-weight: bold;text-transform: uppercase;}
.appip-multi-divider {margin: 10px 0;}
.amazon-asin-title {margin: 0 0 5px 0; }
.amazon-author { color: #666; }
.amazon-buying {text-align: left; box-sizing: border-box; float: left; max-width: 73%; width: 100%; }
.amazon-dates { padding: 0 !important; text-align: left; height: auto;}
.amazon-dates br {display: none;}
.amazon-dates .amazon-preorder { color: #d16601; font-weight: bold; text-align: left; }
.amazon-dates .amazon-release-date { color: #666; font-size: 10px; text-align: left; }
.amazon-director { color: #666; }
.amazon-director-label { color: #999; }
.amazon-ESRB { color: #666; font-size : 12px;}
.amazon-feature { color: #666; font-size : inherit;}
.amazon-manufacturer { color: #666; }
.amazon-new { color: #800000; font-weight: bold; text-align: left; }
.amazon-new-label { color: #666; text-align: left;}
.amazon-platform { color: #666; font-size : 12px;}
.amazon-post-text { padding: 0 !important; text-align: left; }
.amazon-price-label { color: #666; text-align: left;  }
.amazon-price { color: #800000; font-weight: bold; text-align: left; }
.amazon-rating { color: #666; }
.amazon-rating-label { color: #999; }
.amazon-starring { color: #666; }
.amazon-starring-label { color: #999; }
.amazon-system { color: #666; font-size : 12px;}
.amazon-tiny {text-align: center;font-size: 10px;}
.amazon-used { color: #666; text-align: left; }
.amazon-used-label { color: #666; text-align: left; }
.amazon-list-price { text-align: left; text-decoration: line-through; }
.amazon-list-price-label { color: #666; text-align: left; }
.amazon-list-price-label, .amazon-new-label, .amazon-used-label { font-weight: bold; min-width: 7em;width: auto;}
.amazon-product-table { border-collapse: collapse; border: 0 none !important; width: 100%; clear: both; margin-bottom: 10px;}
.amazon-product-table td{ border: 0 none ; padding: 0; }
.amazon-product-table:after {clear: both;}
.amazon-product-table a { border-bottom: 0 none; text-decoration: none; }
.amazon-product-table > tbody > tr > td {padding: .5rem !important;}
.amazon-product-table hr {display:inline-block;max-width:100%;  width: 100%;  border-top: 1px solid #e2e5e7;height: 0px; margin: 6px 0;}
.amazon-product-table .amazon-buying h2.amazon-asin-title { border-bottom: 0 none; font-size: 1rem; line-height: 1.25em; margin: 0; }
.amazon-product-table .amazon-list-variants {border-top: 1px solid #CCC;border-bottom: 1px solid #ccc;padding: 2%;margin-top:2%;}
.amazon-product-price { border-collapse: collapse; border: 0 none; padding: 0 !important; }
.amazon-product-price { -moz-border-radius: 0; -webkit-border-radius: 0; border-collapse: collapse; border-radius: 0; border: 0 none; margin: 0; max-width: 100%; width: auto; }
.amazon-product-price { float: left; margin: 0; width: 100%; }
.amazon-product-price a img.amazon-image { background-color: transparent; border: 0 none; }
.amazon-product-price td { border: 0 none !important; padding: .25em 0; }
.amazon-product-price td { padding: 1%; width: auto; }
.amazon-product-price tr:first-child td {width:7em;}
.amazon-price-button{margin-top:2%;display:block;}
.amazon-price-button > a{display:block;margin-top:8px;margin-bottom:5px;width:165px;}
.amazon-price-button > a img.amazon-price-button-img{border:0 none;margin:0px;background:transparent;}
.amazon-additional-images-text { display: block; font-size: x-small; font-weight: bold; }
.amazon-element-imagesets { border: 1px solid #ccc; display: inline-block; margin: 5px; overflow: hidden; padding: 10px; }
.amazon-element-imagesets br {display: none;}
.amazon-element-imagesets a { float: left; margin: 3px; }
.amazon-element-imagesets a img {border: 1px solid #fff;}
.amazon-additional-images-wrapper { border: 1px solid #ccc; box-sizing: border-box; display: inline-block; margin: 1%; overflow: hidden; padding: 2%; }
.amazon-additional-images-wrapper a { float: left; margin: 3px; }
.amazon-additional-images-wrapper a img {border: 1px solid #fff;width:25px;}
.amazon-additional-images-wrapper br {display: none;}
.amazon_variations_wrapper{}
.amazon_varients{}
.amazon-varient-type-link {display: inline-block;font-weight: bold;}
.amazon-varient-type-price {display: inline-block;color: #EA0202;font-weight: bold;}
.amazon-variant-price-text{color:initial;}
.amazon-variant-price-text {font-weight: normal;}
.amazon-elements-wrapper,
.amazon-element-wrapper{clear: both;}
img.amazon-varient-image {max-width: 50px;margin: 1%;padding: 1px;background-color: #999;}
img.amazon-varient-image:hover {background-color: #3A9AD9;}
/*
a.amazon__price--button--style,
a.amazon__price--button--style:visited {background-color: #444;padding: 10px 20px;margin: 5px 0;display: inline-block;text-decoration: none;color: #fff;-moz-transition: all .5s ease;-webkit-transition: all .5s ease;transition: all .5s ease;}
a.amazon__price--button--style:hover {background-color: #2196F3;text-decoration: none;color: #fff;}
a.amazon__price--button--style:focus,
a.amazon__price--button--style:active{outline: 0;-moz-box-shadow:0 0 5px #2196F3;-webkit-box-shadow:0 0 5px #2196F3;box-shadow: 0 0 5px #2196F3;}
a.amazon__price--button--style{ background-color: #2196F3;text-decoration: none;color: #fff;}
*/
body[class*=amp-mode] .amazon-image-wrapper a amp-img img{height:auto;position:relative;}
body[class*=amp-mode] .amazon-image-wrapper a amp-img>*{padding:0;}
body[class*=amp-mode] table{width:100%;background:0 0}
body[class*=amp-mode] .amazon-buying{padding:4px}
body[class*=amp-mode] .amazon-image-wrapper{margin:0;background:0 0;padding:4px}
body[class*=amp-mode] .amazon-buying hr{border-style:solid;border-width:0 0 1px;border-color:#ccc}
body[class*=amp-mode] h2.amazon-asin-title{max-width:100%;font-size:1.3em;line-height:1.35;background:0 0}
body[class*=amp-mode] .amazon-product-pricing-wrap{max-width:100%}
body[class*=amp-mode] .amazon-product-pricing-wrap table tr td{border:0;background:0 0;margin:0;padding:0 2px;display:inline-block;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
body[class*=amp-mode] .amazon-product-pricing-wrap table tr{border:0;background:0 0;margin:0;padding:2px;text-align:left}
body[class*=amp-mode] .amazon-image-wrapper amp-img{width:160px;margin:0 auto;max-width:100%}
body[class*=amp-mode] .amazon-image-wrapper>a{display:block;text-align:center}
body[class*=amp-mode] .amazon-image-wrapper>br{display:none}
body[class*=amp-mode] .amazon-product-pricing-wrap table tr td:last-child:first-child,
body[class*=amp-mode] .amazon-product-pricing-wrap tbody,
body[class*=amp-mode] .amazon-product-pricing-wrap tr{width:100%;display:block}
body[class*=amp-mode] .amazon-price-button amp-img{margin:0 auto}
body[class*=amp-mode] p.amazon-asin-title{margin-bottom:0;font-size:1.25em;line-height:1.35}
body[class*=amp-mode] .amazon-product-pricing-wrap table{background:0 0}
body[class*=amp-mode] .amazon-image-wrapper .amazon-additional-images-wrapper amp-img{width:50px;display:inline-block;margin:0 2px}
body[class*=amp-mode] span.amazon-additional-images-text{display:block}
body[class*=amp-mode] .amazon-additional-images-wrapper{line-height:1.25;text-align:center}
body[class*=amp-mode] .amazon-additional-images-wrapper br{display:none}
.appip-clear { clear: both; }
.appip-debug .appip-errors { display: block !important; color: #FEFEFE; background: #cd0000; padding: 1%; font-weight: bold; font-size: 16px; }

/* New Flat Button Styles 4.0.3.3*/
.button-rounded{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
/* default */	
.amazon__price--button--style, 
.amazon__price--button--style:visited {background-color: #444;padding: 10px 20px;margin: 5px 0;display: inline-block;text-decoration: none;color: #fff;-moz-transition: all .5s ease;-webkit-transition: all .5s ease;transition: all .5s ease;}
.amazon__price--button--style:hover {cursor:pointer;background-color: #666;text-decoration: none;color: #fff;}
.amazon__price--button--style:focus {color: #fff;background-color: #595959;outline: 0;-moz-box-shadow: 0 0 5px #9c9c9c;-webkit-box-shadow: 0 0 5px #9c9c9c;box-shadow: 0 0 5px #9c9c9c;text-decoration: none;}
.amazon__price--button--style:active {color: #fff;background-color: #595959;outline: 0;text-decoration: none;-moz-box-shadow:0px 3px 9px rgba(0, 0, 0, 0.43) inset;-webkit-box-shadow:0px 3px 9px rgba(0, 0, 0, 0.43) inset;box-shadow:0px 3px 9px rgba(0, 0, 0, 0.43) inset;}
/* blue */
.amazon__btn--blue,
.amazon__btn--blue:visited{color: #fff;background-color: #0085ba;}
.amazon__btn--blue:hover {color: #fff;background-color: #008ec2;}
.amazon__btn--blue:focus {color: #fff;background-color: #0073aa;-moz-box-shadow: 0 0 5px #2196F3;-webkit-box-shadow: 0 0 5px #2196F3;box-shadow: 0 0 5px #2196F3;}
.amazon__btn--blue:active{color: #fff;background-color: #0073aa;}
/* red */
.amazon__btn--red,
.amazon__btn--red:visited{color: #fff;background-color: #e10505;}
.amazon__btn--red:hover {color: #fff;background-color: #f00;}
.amazon__btn--red:focus {color: #fff;background-color: #a70707;-moz-box-shadow: 0 0 5px #ff338e;-webkit-box-shadow: 0 0 5px #ff338e;box-shadow: 0 0 5px #ff338e;}
.amazon__btn--red:active{color: #fff;background-color: #a70707;}
/* green */
.amazon__btn--green,
.amazon__btn--green:visited{color: #fff;background-color: #4aa74e;}
.amazon__btn--green:hover {color: #fff;background-color: #2f8d33;}
.amazon__btn--green:focus {color: #fff;background-color: #17851c;-moz-box-shadow: 0 0 5px #8BC34A;-webkit-box-shadow: 0 0 5px #8BC34A;box-shadow: 0 0 5px #8BC34A;} 
.amazon__btn--green:active{color: #fff;background-color: #17851c;}

@media screen and (min-width:550px){
	body[class*=amp-mode] .amazon-image-wrapper{float:left;width:28%}
	body[class*=amp-mode] .amazon-buying{float:left;width:70%}
	body[class*=amp-mode] .amazon-price-button amp-img{margin:5px 0 0}
	body[class*=amp-mode] p.amazon-asin-title{margin-bottom:12px}
}
@media only screen and (max-width : 1200px) {}
@media only screen and (max-width : 992px) {}
@media only screen and (max-width : 768px) {}
@media only screen and (max-width : 550px) {
	.amazon-image-wrapper { padding: 0; text-align: center; float: none; margin: 0 auto 2%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; max-width: 75%; width: 100%; }
	.amazon-buying { box-sizing: border-box; float: none; max-width: 100%; width: 100%; }
	.amazon-product-price,table.amazon-product-price { float: none; margin: 0; max-width: 100%; width: 100%; }
	.amazon-product-pricing-wrap { display: block; clear: both; }
	.amazon-dates { text-align: center; }
	.amazon-dates a { margin: 0 auto !important; width: 50% !important; }
	.amazon-dates a img { margin: 5% auto 0 !important; width: 95% !important; }
	span.amazon-tiny {margin-top: 2px;background: #ccc;padding:1%;display: block;font-size: 1.25em;color: #000;text-transform: uppercase;border: 1px solid #999;line-height: 1.25em;}
	span.amazon-tiny:active {background: #EDEDED;}
	.amazon-product-table .amazon-buying h2.amazon-asin-title {margin-top: 3%;display: block;line-height: 1.5em;}
	.amazon-additional-images-wrapper { max-width: 100%; width: 100%; margin: 1% 0; text-align: center; }
	.amazon-additional-images-wrapper a { float: none; display: inline-block; width: 18%; margin: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
	.amazon-additional-images-wrapper a img { width: 75%; }
	td.amazon-list-price-label, td.amazon-new-label, td.amazon-used-label, td.amazon-used-price, td.amazon-new, td.amazon-list-price { display: inline-block; }
	a.amazon__price--button--style {max-width: 90%;margin: 5px auto;}
}
@media only screen and (max-width : 320px) {}
/* Custom Styles*/